extends layout

include mixins/form
include mixins/links

block styles
  +featuresStylesheets()

block tools
  +tools('file', file.name)

block content
  #js--content.show
    +errors()
    h1 #{file.name}
    p Download: 
      a(href=file.urlFor('download')) #{file.urlFor('download')}
    h2 Info 
      small 
        |(#{file.metadata.hash})
    ul
      li Size: #{formatBytes(file.content.size)}&nbsp;
        small
          |(#{file.content.size.toLocaleString()} B)
      li Uploaded by: #{file.metadata.author}
        small &lt;#{file.metadata.email}&gt;
      li Date: #{file.metadata.date}&nbsp;
        small
          |(#{file.metadata.relDate})
      li Commit: #{file.metadata.fullhash}
      -
        var data 
        if (file.metadata.subject){
          try {
            JSON.parse(file.metadata.subject)
          } catch {
            JSON.parse(file.metadata.subject.replace("name", '"name"').replace("mimetype", '"mimetype"').replace('md5', '"md5"'))
          }
        }
      if data
        if data.mimetype
          li MIME Type: #{data.mimetype}
        if data.md5
          li MD5: #{data.md5}
    h2 Revisions
    ul
      for rev in file.hashes
        li 
          a(href=`${file.urlForShow()}/${rev}`) #{rev}
            if rev == file.metadata.hash
              |&nbsp;(current)
